.container {
  padding: 0 17rem;
  margin-top: 5rem;
}

/* LOGIN */
.login-container {
  height: 500px;
  width: 800px;
  box-shadow: -12px -12px 10px rgba(255, 255, 255, 0.2), 5px 5px 10px rgba(166, 180, 200, 0.7);
  border-radius: 10px;
  overflow: hidden;
}

.image-login {
  border-radius: 10px 0 0 10px;
}

.title-login {
  margin-top: 5rem;
  font-weight: bold;
  color: #FECD1A
}

/* SIDEBAR */
.sidebar {
  height: 760px;
  width: 230px;
  flex-direction: column;
  box-shadow: -12px -12px 10px rgba(255, 255, 255, 0.2), 5px 5px 10px rgba(166, 180, 200, 0.7);
  border-radius: 40px;
  border: solid 1px;
  border-color: #F6F6F6;
}

/* SIDE PROFILE */
.side-profile {
  width: 6rem;
  height: 6rem;
  background-color: #FECD1A;
  color: #fff;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.btn-sidebar {
  width: 11rem;
  height: 37px;
  background-color: #05499C;
  border-radius: 10px;
  margin-top: 10px;
  padding-left: 18px;
  padding-top: 6px;
  color: #fff;
}

/* PAGE */
.page-text {
  color: #FECD1A;
  margin : 20px 0;
  font-weight: bold;
}

/* CALENDAR */
.calendar-container {
  margin-right: 50px;
  width: 450px;
  height: 320px;
  box-shadow: -12px -12px 10px rgba(255, 255, 255, 0.2), 5px 5px 10px rgba(166, 180, 200, 0.7);
  border-radius: 10px;
  border: solid 1px;
  border-color: #F6F6F6;
}

.react-calendar {
  width: 370px;
  max-width: 100%;
  background-color: #fff;
  color: #555555;
  border: 0 !important;
}

.react-calendar__navigation button {
  color: #555555;
  min-width: 44px;
  background: none;
  font-size: 16px;
  margin-top: 8px;
}

abbr[title] {
  text-decoration: none;
}

/* PROFILE */
.profile-container {
  margin-bottom: 2rem;
  margin-left: 50px;
  width: 500px;
  height: 320px;
  box-shadow: -12px -12px 10px rgba(255, 255, 255, 0.2), 5px 5px 10px rgba(166, 180, 200, 0.7);
  border-radius: 10px;
  border: solid 1px;
  border-color: #F6F6F6;
}

.profile {
  width: 200px;
  height: 170px;
  background-color: #05499C;
  margin-inline: 40px;
}

.title-profile {
  font-weight: bold;
  font-size: 60px;
  color: #fff;
}

.text-profile {
  margin-block: 15px;
  color: #555555;
  font-size: 15px;
  font-weight: bold;
}

.btn-logout {
  font-size: 15px;
  color: #fff;
  background-color: #EF4B4B;
  width: 6rem;
  height: 2rem;
  border-radius: 5px;
  font-weight: bold;
}

/* LIST */
.list-container {
  max-height: 300px;
  overflow: scroll;
  padding-left: 12px;
}

.list-row {
  height: 37px;
  width: 40rem;
  margin-bottom: 14px;
  border-radius: 10px;
  border: solid 1px;
  border-color: #DDDDDD;
}

.list-col {
  color: #555555;
  margin: 5px 0 0 17px;
  width: 13rem;
}

/* REQUEST CARD */
.request-card {
  padding-inline: 20px;
  max-height: 20rem;
  box-shadow: -12px -12px 10px rgba(255, 255, 255, 0.2), 5px 5px 10px rgba(166, 180, 200, 0.7);
  background-color: #05499C;
  color: #fff;
  border-radius: 10px;
  border: solid 1px;
  border-color: #F6F6F6;
}

.req-text {
  margin-top: 12px;
  color: #fff;
}

.text-to {
  font-size: 14px;
  margin-top: 5px;
  color: #fff;
  padding: 0;
}

.btn-quick {
  text-align: center;
  color: #05499C;
  padding-top: 2px;
  background-color: #fff;
  margin-top: 50px;
  height: 30px;
  width: 6rem;
  border-radius: 20px;
}

/* LIST TIME OFF */
.to-container {
  max-height: 41rem;
  overflow: scroll;
}

.detail-to {
  width: 400px;
  height: 600px;
  box-shadow: -12px -12px 10px rgba(255, 255, 255, 0.2), 5px 5px 10px rgba(166, 180, 200, 0.7);
  border-radius: 10px;
}

.detail-text {
  margin-bottom: 13px;
}

.btn {
  font-size: 15px;
  width: 6rem;
  height: 2rem;
  border-radius: 5px;
  font-weight: bold;
}

/* REPORT*/
.report-container {
  max-height: 38rem;
  overflow: scroll;
  padding-left: 12px;
}
.filter-card {
  width: 400px;
  height: 260px;
  box-shadow: -12px -12px 10px rgba(255, 255, 255, 0.2), 5px 5px 10px rgba(166, 180, 200, 0.7);
  border-radius: 10px;
  color: #47597E;
}

/* EMPLOYEE */
.employee {
  width: 5rem;
  height: 5rem;
  border: solid;
  border-color: #47597E;
  color: #47597E;
}

.emp-text {
  font-size: 15px;
  margin-top: 15px;
  color: #47597E;
}

.emp-row {
  height: 10rem;
  box-shadow: -12px -12px 10px rgba(255, 255, 255, 0.2), 5px 5px 10px rgba(166, 180, 200, 0.7);
  border-radius: 10px;
  margin-bottom: 14px;
  margin-inline: 15px;
}

.btn-add {
  font-size: 15px;
  width: 8rem;
  height: 2rem;
  border-radius: 5px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* REQUEST LEAVE */
.detail-user {
  height: 70px;
  width: 17rem;
  margin-bottom: 14px;
  border-radius: 10px;
  border: solid 1px;
  border-color: #DDDDDD;
}

.user-profile {
  width: 50px;
  height: 50px;
  background-color: #FECD1A;
  color: #fff;
  font-weight: bold;
  font-size: 22px;
  margin-right: 15px;
}

.user-profile-text {
  color: #555555;
  font-size: 16px;
}
.req-container {
  max-width: 800px;
  color: #555555;
}

.label-form {
  margin-bottom: 15px;
}